body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #FEFFEA;
}
h1{
    color: #424242;
}
#add{
    width: 100%;
    max-width: 500px;
    height: 200px;
    padding: 25px;
    border-radius: 10px;
    background-color: #f1f2f6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
#item{
    padding: 10px;
    width: 80%;
    font-size: large;
    border: 1px solid #dfe4ea;
    border-radius: 0.5rem;
}
#items{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    

}
.item{
    width: 50vh;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-content: center;

}
.item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.remove{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #ff4757;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.Shop{
    color: #424242;
    font-size: 18px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}
.bt{
    padding: 15px;
    font-size: large;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.bt:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
#addItem{
    background-color: #A3A3A3;
    color: #f1f2f6;
}
#clearList{
    background-color: #ff4757;
    color: #f1f2f6;
}
